[2016-10-20 03:33] chusiang opened #1 "怎麼用 filter 取得 setup 的第 2 層值？"
使用 setup module 時，雖然可以使用 filter 來取得特定的值 (object)，但遇上想取 ansible_python 底下 executable 的值時該怎麼辦呢？

[code]

在這裡我們可以直接使用 ansible_python.executable 即可取得。

[code]

來跑一下 playbook 吧！

[code]

Enjoy it!

[2016-10-20 03:34] #1 closed, assigned to chusiang

[2016-10-20 16:00] theqwan-chengwei opened #2 "若 tasks 中包含 reboot 動作，如何在 reboot 之後，還能接續執行 tasks？"
以下即為一個範例答案：

[code]

更多細節可以參考官方文件 [Module - wait_for](http://docs.ansible.com/ansible/wait_for_module.html)
以及[這篇文件的 Delegation 這一段落](http://docs.ansible.com/ansible/playbooks_delegation.html)，內有幾個案例提到 `local_action`。

另外補充，在 tasks `Reboot Server` 的 `async` 與 `poll` 是什麼意思呢？

請參閱官方文件 [《Asynchronous Actions and Polling》](http://docs.ansible.com/ansible/playbooks_async.html)，

[code]

用上面的官方案例來說明，即是「

[2016-10-21 05:05] #2 closed, assigned to theqwan-chengwei

[2016-10-21 07:52] chusiang commented on #2
話說在下先前研究 Windows Support 時，在使用 `win_reboot` module 時也有用過 `wait_for`，印象中 winrm 要有自動啟用才可接續做下個 task。

[2016-11-25 14:34] mingderwang opened #3 "是否有建議看的文章, 有關 Jenkins 跟 ansible 怎麼合用?"

[2016-11-25 14:53] chusiang commented on #3
Jenkins 的話，搭配 [Ansible Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Ansible+Plugin) 應該就很好用了吧？:P

不然就等 @tsoliangwu0130 把《30 天入門 Ansible 及 Jenkins-CI》給寫完吧！

[2016-11-30 07:47] zarr12steven opened #4 "Ubuntu 16.04 預設沒有安裝 Python2.x 的版本，要怎麼透過 Ansible 來安裝？"
### ENVIORNMENT

[code]

### ISSUE

一開始要執行 `ansible all -m setup` 時，發現 `Ubuntu` 那台機器噴錯了，主要是說找不到 python，因為 `Ubuntu 16.04` 預設是安裝 `Python 3`，所以無法使用。

### FIXED

如果是 `Ubuntu 16.04` 目前的解法是自已手動先下 `ansible hostname or groupname -m raw -a "apt-get install python"`。

[2016-11-30 07:53] zarr12steven commented on #4
### 補充：

#### Q:  凍仁大大問說為什麼用 `raw` 就可以去安裝 python，是因為沒用到 Python 嗎 ？

#### A： 簡單說就是官方說因為有些設備或機器預設沒有安裝 Python，所以就用 remote shell 的方式去執行指令。  原文參考如下 ↓↓↓

[2016-11-30 07:56] chusiang commented on #4
Good job!

[2016-11-30 07:56] #4 closed, assigned to zarr12steven

[2016-11-30 18:44] chusiang opened #5 "建立 amas 與 ansible-tw/AMA 的連結"
已發送 PR 至 amas，期待創始人可以早點收 PR 了！

-  https://github.com/sindresorhus/amas/pull/149

[2016-12-01 08:55] mingderwang commented on #3
@chusiang  謝謝, 我直接裝 Ansible Plugin 來試試.

[2016-12-01 08:55] #3 closed, assigned to mingderwang

[2016-12-02 08:07] ricky0221 opened #6 "Proxmox LXC's centos 7 cron job deployment issue"
### Environment：
CentOS 7.2
ansible 2.1.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

Use the task as below
[code]

will encounter this error

[code]

[2016-12-02 08:08] ricky0221 commented on #6
When update Ansible to 2.2.0.0, this issue would be resolved.

ansible 2.2.0.0
  config file = /home/aplus/lamp-ansible/ansible.cfg
  configured module search path = Default w/o overrides

[2016-12-02 08:08] #6 closed, assigned to ricky0221

[2016-12-02 12:37] chusiang commented on #6
This issue has be fixed with upgrade ansible to v2.2.0.0.

Good job!

[2016-12-02 14:58] chusiang commented on #5
PR 被接收了！ya ya ~~

- https://github.com/sindresorhus/amas/commit/101a87cc8b1eecc033fe0a73b08d91abc31206ea

[2016-12-02 14:58] #5 closed, assigned to chusiang

[2016-12-02 15:11] chusiang opened #7 "Ansible FAQ"
=> 原文連結 [Ansible FAQ | Ji ZHANG's Blog](http://shzhangji.com/blog/2013/06/11/ansible-faq/) <=

----

本文是從原 Ansible 官網的 FAQ 頁面翻譯而來，網站改版後該頁面已無法訪問，但可以從 [Github 歷史提交](https://github.com/ansible/ansible.github.com/blob/4a2bf7f60a020f0d0a7b042056fc3dd8716588f2/faq.html)中獲得。翻譯這篇原始 FAQ 文檔是因為它陳述了 Ansible 這款工具誕生的原因，設計思路和特性，以及與 Puppet、Fabric 等同類軟件的比較，可以讓我們對 Ansible有一個整體的瞭解，所以值得使用者一讀。

## 目錄

- 為什麼命名為「Ansible

[2016-12-02 15:26] chusiang commented on #7
- [ ] 有空應該把這篇文章整理至 http://ansible.tw 上的才是。

[2016-12-04 12:40] chusiang opened #8 "Ansible Playbooks 的變數優先序為何？"
在 Ansible Playbooks 裡，可以在很多地方使用變數 (variable)，可它的優先序 (precedence) 規則是怎樣的呢？

[2016-12-04 12:41] chusiang commented on #8
先補上 @zarr12steven 先前丟的參考圖，晚點再來找出處和相關資料了。

![photo586051492041041847](https://cloud.githubusercontent.com/assets/219066/20866196/e6b8c49c-ba61-11e6-97f1-2b65cd55740a.jpg)

[2016-12-04 12:44] chusiang commented on #8
已圖找文是個悲劇！

- https://www.google.com/search?tbs=sbi:AMhZZitNurm5RR5XuCw3IqsCWjDwQElF7eksHJtwkTG0Vnxz87PHao8Bw3LSqNVhaZf3zRM9MAzRD1fP4ZGByNq5jQz5Z2BXbVfmwOBTaiB7Pk8lJQCsmdWT_1JYBoQrABiwU0ULEtaWKxcZ05nsIagn3XvQfflA1e9MML968dvLr-BECZkzUlH8I0eLdHCF2Ft-ltCaHh6EmgbBZrihG8dZcXcbSu1PiGI65txS6oo3A9UJoHrIwAYkn71LkKIj4kcjQdloEJvx7sm3tnP-lffj5p8PuO0QAoP9pm9AU-1b8s-5BThT5YYg1ByFlx5EcHhoIqXm1NV0pfhUR-YBReSPhnbaX

[2016-12-05 06:14] chusiang commented on #8
感謝 Ricky，終於找到這圖的來源出處了！是 [《Ansible Playbook Essentials》](https://www.packtpub.com/networking-and-servers/ansible-playbook-essentials)一書的第 60-61 頁。

- Book Name: Ansible Playbook Essentials
- ISBN: 978-1-78439-829-3
- Website: https://www.packtpub.com/networking-and-servers/ansible-playbook-essentials

[2016-12-05 06:14] #8 closed, assigned to zarr12steven

[2016-12-09 09:03] chusiang opened #9 "Ansible 要怎麼 retry？"
當 playbook 跑到失敗時，會出現類似 `retry, use: --limit @/Users/ironman/.ansible-retry/managed_node.retry` 的錯誤訊息。

但其實 `managed_node.retry` 裡只會放失敗的主機列表 (managed nodes)，若要修護這個錯誤，會搭配 `--limit` 的參數對某個特定的 managed node 重新跑過一次 playbook。

若只要執行特定的 tasks，凍仁會用 ansible 的 tag 機制插旗子，然後只執行特定的 tasks。以 [chusiang/testlink](https://github.com/chusiang/testlink.ansible.role/blob/master/tasks/setup_testlink.yml#L67) 為例，凍仁會這樣針對

[2016-12-13 02:50] chusiang opened #10 "為什麼我們不常用 command module？"
[`command`](http://docs.ansible.com/ansible/command_module.html) module 很好用很方便，但您會發現別人的 Ansible Playbook 裡很少會使用它，這是為什麼呢？

[2016-12-13 02:59] chusiang commented on #10
1. 我們會儘可能的使用現成的 Modules，非必要才會使用 command module。用了它我們得自己處理**重複執行**的問題，有時還會拖累整體的效率。
1. 如果有一個特定目標，要用到很多的 tasks，這時我們會建議使用 roles。
1. 在很多需要較複雜運算的狀況我們會改用 shell 或 script module。

[2016-12-14 07:09] zarr12steven commented on #9
就如同凍仁大大所說的，因為 `retry, use: --limit @/Users/ironman/.ansible-retry/managed_node.retry`  的錯誤訊息，只會放失敗的主機列表，所以後來我放棄使用了，後來就找到用  `--start-at-task`，這個可以讓你從特定的task開始跑，就不會在從頭開始去執行。

`ansible-playbook playbook.yml --start-at-task="Your task name"` ← 用法是這樣的，請參考。

[2016-12-14 07:09] #9 closed, assigned to zarr12steven

[2016-12-14 10:34] chusiang commented on #9
大大兩個字可以省了。XDD

[2016-12-14 11:58] aweimeow commented on #10
在嘗試 script module 之後，我將我要做的所有事情寫成一隻 Shell Script。

而我想做的是嘗試自動安裝一個名為 `onos` 的軟體。

在這邊提供關於使用 `script module` 去呼叫 Shell Script 的方法：
[code]

在安裝 script 的時候有個值得一提的事情，在安裝 Java 8 的時候，會出現這個畫面：
![](https://i.imgur.com/sFstKR3.png)

然而，要透過 Shell Script 來敲下 OK 卻讓我不知所措 ... XD

我有嘗試過：
[code]

不過都解不了，後來在[這個討論串](http://askubuntu.com/questions/190582/installing-java-automatically-with-silent-option)找到解決辦法，如以下所示：

[2016-12-14 12:37] chusiang commented on #10
@aweimeow 或許您可以試著改用 debconf module 來解這一題。:)

- http://docs.ansible.com/ansible/debconf_module.html

[2016-12-14 12:46] aweimeow commented on #10
原來如此！受教了 <(_ _)>

[2016-12-26 16:23] #10 closed, assigned to chusiang

[2016-12-26 16:25] chusiang commented on #4
來這邊補一下今日 survey 到的資訊：

- 前人的作法與以上差不多。
  - [Get Ansible to work on bare Ubuntu 16.04 without python 2.7](https://gist.github.com/gwillem/4ba393dceb55e5ae276a87300f6b8e6f)
- 在 Ansible 2.2 之後加入了 [Python 3 Support — Ansible Documentation](https://docs.ansible.com/ansible/python_3_support.html) 的 feature。

[2017-01-23 16:07] chusiang opened #11 "如何在新開一台機器時執行 Ansible Playbook？"
在 Auto scaling 的架構下，往往會藉由 Ansible + Packer 打包好 AWS AMI 或 Docker image，當新開一台機器時，要怎麼藉由 Ansible 執行部署的動作？

[2017-01-23 16:08] chusiang commented on #11
理論上可透過 `ansible-pull` 搭配 `/etc/init.d/rc.local` 或 AWS EC2 的 User Data 可以辦到，再找機會實作了。

[2017-01-23 17:02] Ichiro-Hu opened #12 "如何透過 Ansible 修改主機 sudoers 規則"
我的需求：在有數十台 Linux 系統主機管理需求下，即使能夠自動化創立 user account，但 sudo 權限要如何做好基本管理呢？
我的環境：CentOS 6 / 7 版
我的 LAB 環境：vagrant centos7

1. 首先我先建立基於 Ops 群組的 sudo 規則。

       - name: Allow 'Ops' group to have passwordless sudo
         lineinfile:
           create: yes
           dest: /etc/sudoers.d/ops
           state: present
           line: '%Ops    ALL=(ALL)       NOPASSWD: ALL, !NO_SHELL'
           validate

[2017-01-24 06:50] chusiang commented on #12
Thank you for @Ichiro-Hu .

順帶一提：我在《Ansible: Up and Running》一書的 167 頁也有看到 `validate` 的相關範例，但還沒實際用過就是。:P

[2017-01-24 06:50] #12 closed, assigned to Ichiro-Hu

[2017-02-02 07:01] zarr12steven opened #13 "在 task 中，使用 Register 自定二個變數，要在同一個 task 裡去執行"
### OS Environment

[code]

### Ansible Version

[code]

### task.yml

[code]

這個的重點是用 `with_together` 就可以達成目的了

Reference:

* [looping-over-parallel-sets-of-data](http://docs.ansible.com/ansible/playbooks_loops.html#looping-over-parallel-sets-of-data)

[2017-02-13 10:09] chusiang opened #14 "`unsupported parameter for module: gather_timeout` on Ansible 2.2.0.0"
使用 Vagrant 跑 ansible provision 時，出現了 `unsupported parameter for module: gather_timeout` 的錯誤訊息，目前可藉由使用 `gather_timeout=30` 的參數做為 workaround。

Error message:

[code]

※ 註：該設定可寫在 `ansible.cfg` 或直接用參數的方式代入。

[code]

My Environment:

- Ansible: 2.2.0.0
- Host OS: Debian 7.11
- Guest OS: Ubuntu 14.04

## Reference

- [gather_timeout is used by "ansible-playbook" but not by "ansible" · Issue #17316 · ans

[2017-02-13 10:14] #14 closed, assigned to chusiang

[2017-02-18 09:18] zarr12steven opened #15 "使用『差集』去排除不需要的檔案"
### OS Environment

[code]

### Ansible Version

[code]

### 使用情境說明

先去抓所有的tar檔後，註冊一個變數`AllTarFileName`，再echo需要排除的檔名，並且也把它註冊成一個變數，之後就可以在解tar檔時，使用`差集`的方式，將不需要的檔案做排除。

### task.yml

[code]

Reference:
* [difference](http://docs.ansible.com/ansible/playbooks_filters.html)

感謝 Ansible Taiwan - Jim T. Tang 大大的建議。

[2017-02-18 09:20] #15 closed, assigned to zarr12steven

[2017-02-18 09:20] #13 closed, assigned to zarr12steven

[2017-02-19 06:17] chusiang commented on #15
幫 tag 一下 Jim T.Tang (@maxsolar)。:P

[2017-04-13 10:01] jackpgao opened #16 "Ansible的超时控制"
Ansible自带的超市机制，在一些特殊情况下，无法有效超时，这个问题有人遇到过么？

如果是用外部程序来进行超时处理，那Ansible自带的并发还有什么意义？我就需要在外部程序调用的时候控制超时和并发了。

[2017-04-14 13:56] theqwan-chengwei commented on #16
嗨，也許你可以將問題再描述得更仔細一點，像是你所謂的特殊狀況為何？
以及為何你會覺得 Ansible 自帶的併發沒有意義，這樣其他人比較能看懂你想要問重點是什麼，
另外為了建立共識，你所謂的超時，是指 timeout 嗎？
自帶的併發指的是 ansible.cfg 中的 forks 嗎？
http://docs.ansible.com/ansible/intro_configuration.html#forks

最後，即便不討論 Ansible 本身，其實你要怎麼使用工具是一件很彈性的事情，如果你覺得 Ansible 原生的功能不好用，你可以送 PR 貢獻，或是如你說的自己用外部程序來克服困難，這都是大家常見的作法。

[2017-04-15 11:02] chusiang commented on #16
Hi @jackpgao

如果是 timeout 的部份，或許 https://github.com/ansible-tw/AMA/issues/2 討論的  `async` 和 `poll` 可以幫得上您的忙。:P

[2017-04-21 07:26] chusiang opened #17 "如何在執行 ansible-playbook 時，自動輸入 sudo 密碼？"
若遇到不能使用 ssh key 操作 Ansible 時，我們可搭配 Valut 來使用，可用了 `ansible_ssh_pass` 儲存 ssh password 後，還是有機會遇到需輸入 sudo password 的問題，這時只需再設一個 `ansible_sudo_pass` 即可。

[code]

## Reference

- [30. 怎麼用 Vault 管理敏感資料？ - iT 邦幫忙](http://ithelp.ithome.com.tw/articles/10188119)
- [Specify sudo password for Ansible \- Stack Overflow](http://stackoverflow.com/a/25646796/686105)

[2017-04-21 07:26] #17 closed, assigned to chusiang

[2017-05-12 11:15] chusiang opened #18 "How to restart the network with `service` module ?"
We can restart the network with `service` module, but the **systemd** will Ignoring the "args".

- example playbook.

[code]

- Run this playbook on CentOS 7.

[code]

[2017-05-12 11:15] #18 closed, assigned to chusiang

[2017-05-12 11:19] chusiang commented on #18
I think, I still go back to use the `ifdown` and `ifup` for restart eth0.

[code]

[2017-05-19 04:01] evechen0424 opened #19 "透過 playbook 建立使用者時隨機產生密碼的作法"
## 使用情境

要設計一個安裝產品的 playbook 時，遇到需要建立 mysql 帳號的狀況。

主要是要針對不同產品去建立專屬的帳號，最後須將此密碼填入某個 php 中。

如果把密碼直接寫死在 playbook 中，執行者可能會貪方便而不去調整密碼，造成每個機器所安裝的產品都是使用同一組密碼。

一開始時，使用了 Vars prompt 的方式，執行 playbook 時預先要填入隨機的變數，藉此讓密碼有所區別。

後來考慮到 playbook 可能會重複執行還有其他使用這個 playbook 的 RD 方便，最後用 register 的方式來處理這個問題。

## task.yml

[code]

特別感謝 Ansible Taiwan - Aweimeow (@aweimeow)、ChengWei Chen (@theqwan-chengwei) 的建議。

[2017-05-19 16:03] chusiang commented on #19
順手排版了一下，感覺這個亂數密碼的實作真的超實用的！

[2017-05-19 16:03] #19 closed, assigned to evechen0424

[2017-05-19 16:13] chusiang opened #20 "Failed to connect to the host via ssh"
當不使用 ssh key 而是使用 `ansible_ssh_pass` 和 `ansible_sudo_pass` 來處理連線的認證資訊時，有機會遇到 `Failed to connect to the host via ssh` 的錯誤訊。

Error message:

[code]

版本資訊：

[code]

[2017-05-19 16:17] chusiang commented on #20
搞了半天，在下最後用了 `-c paramiko` 來避開此問題。Orz

[code]

## Reference

1. https://github.com/ansible/ansible/issues/15321#issuecomment-233975972
2. https://github.com/ansible/ansible/issues/16354
3. https://github.com/ansible-tw/AMA/issues/17
4. https://github.com/ansible-semaphore/semaphore/issues/309

[2017-05-19 16:17] #20 closed, assigned to chusiang

[2017-05-19 17:13] chusiang commented on #20
我想我知道為什麼了，@William-Yeh 包的 image 沒有安裝 openssh-client，而我一裝起它 Ansible 就會改用 SSH 的方式連接 managed node，而不是透過 paramiko。

或許在 Ansible 2.3 裡，`ansible_ssh_pass` 只有用 paramike 實作！？可我印象中在 Ansible 2.0 時不曾特別用 `-c` 來切換 paramiko 模式就可以用了啊。

[2017-05-20 02:23] chusiang commented on #20
哈，果然把 `openssh-client` 給移除就不需要特別用 `-c paramiko` 了！

[code]

[2017-06-16 06:28] chusiang opened #21 "Install sshpass for Ansible 2.3.1 on macOS 10.11"
I need install the `sshpass` for control managed nodes with passwords, but the homebrew default can't find this package.

[code]

Before 2.3.0, I didn't need installed the `sshpass`, but now it's not working. :cry:

[code]

We can't install the `sshpass` with homebrew by default.

[code]

Manual create a sshpass formula of homebrew.

[code]

Install it !

[code]

Finally, it's working, now !!! :su

[2017-06-16 06:29] #21 closed, assigned to chusiang

[2017-06-16 06:32] chusiang commented on #16
看來暫時沒有後續的討論？我就先關 issue，之後有後續再 repoen 吧！

[2017-06-16 06:32] #16 closed, assigned to nobody

[2017-06-22 03:07] chusiang opened #22 "Requests dependency 'chardet' must be version >= 3.0.2, < 3.1 on CentOS 7.3"
Yesterday, I use the `yum` module to install something packages and I have this problem.

- CentOS 7.3.1611
- Ansible 2.3.1

[code]

[2017-06-22 03:10] chusiang commented on #22
I have fixed it with upgrade the pip packages of `pip` and `chardet`.

[code]

[code]

## Reference

- [python \- Ansible something went wrong with RuntimeError \- Stack Overflow](https://stackoverflow.com/questions/44237275/ansible-something-went-wrong-with-runtimeerror)

[2017-06-22 03:10] #22 closed, assigned to chusiang

[2017-07-06 14:07] chusiang commented on #20
附上來自 [Python 模塊基礎 | w3cschool](https://www.w3cschool.cn/pythonlearn/f4cl1pv8.html) 的 paramiko 介紹。

[2017-07-07 08:55] zarr12steven opened #23 "透過 Ansible 來執行 Cisco Router 的指令 (簡易版)"
### OS Environment

[code]

### Ansible Version

[code]

### cisco.yml

[code]

`authorize` 跟 `auth_pass` 要一起使用，因為這是要進入 `特權模式`

**重點還是要看官方的用法，下面只是參考而已，有些寫法未來可能會被拔掉**

這是我執行某一個寫法的時候吐的訊息

[code]

Reference:

* [How to use Ansible ios_config to configure devices](https://networklore.com/ansible-ios_config/)
* [Ansible Tutorial for Network Engineers ](http://www.rogerperkin.co.uk/network-automation/an

[2017-07-07 09:00] #23 closed, assigned to zarr12steven

[2017-07-07 16:23] chusiang opened #24 "How to show color on GitLab CI ?"
1. I want to use **color mode** to play the ansible playbooks **on GitLab CI**, but default is not.

   ![Run the Ansible with GitLab CI (no color)](https://user-images.githubusercontent.com/219066/27966690-be6a31d2-6372-11e7-8f46-9f8eecf754be.png)

1. I find the `force_color` configure, when we set to `1`, it could be use the color mode.

[code]

1. Done.

   ![screen shot 2017-07-08 at 00 16 32]

[2017-07-07 16:41] chusiang commented on #24
無心插柳柳成陰，隨意翻翻《Ansible: Up and Running》一書，卻不小心解了敝人多時的疑惑。 :stuck_out_tongue_closed_eyes:

[2017-07-07 16:41] #24 closed, assigned to chusiang

[2017-07-31 03:38] chusiang opened #25 "Reinstall urllib3 for disable dependency warning message"
I get the warning message at I use the ad-hoc commands and run playbooks.

[code]

I try something, and I fixed it with reinstall the **urllib3** package.

[code]

I still don't know what happened about this,
but it's working, now !

## My Environment

OS.

[code]

Ansible.

[code]

[2017-07-31 03:39] #25 closed, assigned to chusiang

[2017-08-21 10:58] chusiang opened #26 "Ansible Ad-hoc commands: failed to open a SFTP connection on Yocto"
I get this error message when I use ad-hoc commands with ping module on Yocto.

[code]

But it is working with raw module.

[code]

## Reference

* [你知道為何 Intel IoT 軟體要稱為「YOCTO」而非「LINUX」嗎? \- INSIDE 硬塞的網路趨勢觀察](https://www.inside.com.tw/2016/03/29/why-the-yocto-project-isnt-called-linux)

[2017-08-21 10:59] chusiang commented on #26
Setting the `transport = ssh` and something about the `[ssh_connection]` in `ansible.cfg`.

[code]

It's working, now.

[code]

Enjoy it.

## Reference

* [scp\_if\_ssh parameter ignored in ansible 2\.0\.1\.0 · Issue \#14668 · ansible/ansible](https://github.com/ansible/ansible/issues/14668#issuecomment-194144215)
  * https://github.com/ansible/ansible/issues/14668#issuecomment-194144215
* Failed

[2017-08-21 10:59] #26 closed, assigned to chusiang

[2017-08-22 09:18] chusiang commented on #20
If we want to use the `ssh` mode, not `paramiko`, we need to setting something like this !

[code]

## Reference

* [SFTP disable な CentOS 環境で ansible を使う | たごもりすメモ](http://tagomoris.hatenablog.com/entry/20140318/1395118495)
* Ansible Ad-hoc commands: failed to open a SFTP connection on Yocto #26

[2018-01-08 06:55] chusiang opened #27 "《Ansible for DevOps》"
# 書籍資訊

![Ansible for DevOps](https://s3.amazonaws.com/titlepages.leanpub.com/ansible-for-devops/hero?1515086822)

* 作者：Jeff Geerling。
* 語言：英語。
* 網站：https://www.ansiblefordevops.com/ 。
* 定價：
  * 電子書：US$ 9.99
  * 紙本書：US$ 19.99
* 出版日：2015/10/10
* ISBN-10: 098639341X
* ISBN-13: 978-0986393419
* Examples: https://github.com/geerlingguy/ansible-for-devops

# 推薦理由

1. Jeff 前輩在 [Ansible Galaxy](https://g

[2018-02-02 12:20] theqwan-chengwei opened #28 "module - mysql_db 在遇到有 dot 的 database name (例如：stg.dbname ) 時會回傳錯誤訊息"
在使用 ansible module 的 mysql_db 時有一個小雷，如果你欲建立的 database name 包含有 dot 時，例如「stg.dbname」，可能會遇到 ansible 回傳下面的錯誤訊息 `MySQL does not support database with more than 1 dots`。

不論你是加上 `''` 或 `""` 或 `\.` 或將 database name 放進 var 再送進 task，都無法解決此問題，正確的解答在此，請參閱
https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/database.py#L121

必須在 database name 的前後補上 `，才能順利建立 database，如下範例：

[code]

感謝 Ansib

[2018-02-02 12:21] #28 closed, assigned to nobody

[2018-02-03 12:52] chusiang commented on #28
或許，這個**跳脫字元**的解法，也適用於 `win_*` modules，有機會再來試試看了。

@theqwan-chengwei ++

[2018-02-04 08:11] chusiang commented on #7
來連結一下這份早期的 Ansible FAQ 提交紀錄。

今日回頭看 Ji ZHANG's Blog，才發現簡體中文的譯文已被移除了。 :joy:

[2018-03-05 10:43] chusiang opened #29 "如何在執行 ansible-playbook 時，預設使用 `--diff`？"
在 @theqwan-chengwei 所撰寫的 [讓您安心執行 Ansible playbook 的小技巧（1）| Laravel 道場](https://medium.com/laraveldojo/%E8%AE%93%E6%82%A8%E5%AE%89%E5%BF%83%E5%9F%B7%E8%A1%8C-ansible-playbook-%E7%9A%84%E5%B0%8F%E6%8A%80%E5%B7%A7-1-c634f2963bc9)一文裡，曾提到可以在 `ansible-playbook` 的後面加上 `--diff` 來觀察有哪些變更，其執行結果如下：

[code]

如想讓 Ansible 預設使用 diff mode 的話，可在  `ansible.cfg` 底下補上 `[diff]` 和 `always = yes` 即可。

[code]

Enjoy it.

[2018-03-05 10:43] #29 closed, assigned to chusiang

[2018-05-29 12:45] jjmengze opened #30 "在ansible全域變數與區域變數之間關係"
來舉個例子吧！

在ansible裡定義
group_vars/all.yml
[code]
在某個role裡去使用這個name，再依照這個name判斷要使用role/defaults的什麼變數。
請問這個要怎麼實踐呢？
roles/animal/tasks/main.yml
[code]

roles/animal/defaults/main.yml
[code]

[2018-05-30 00:58] chusiang commented on #30
這個問題描述的很讓人不解啊。

如果是需要進行條件判斷，並依照條件載入不同的 Roles，我會使用 `when` 加上 `include_roles` 進行。

如果只是要取代 `name` 的變數，可以這麼寫。

[code]

[2018-05-30 01:04] chusiang commented on #30
我一般會透過 true、false 和 when 來實踐開關一些功能，就好比 if var_name == true, then include some_function 這樣。

[2018-05-30 08:10] jjmengze commented on #30
@chusiang 這樣做的意義比像類似程式設計上的工廠模式，我希望使用者在最外層（group_vars/all.yml）能修改某個變數的值。
用上述的例子就是name: johne的部分。 只要在註解下這個欄位只能使用johne或是tom，使用者會比較明白這裡只能放什麼類型的數值。
我們到Role的部分來看，把jone的數值傳了進來。可以在到該Role的defaults/main.ymld去看這個johne在這個role代表的數值是什麼。
也就是把細節封裝起來了！

[2018-06-19 02:51] Ichiro-Hu opened #31 "透過 ansible 完成 Linux hostname設定"
我的需求：目前準備要對公司 Linux 系統主機導入IDM（FreeIPA)方案，需要針對hostname設定為 FQDN格式，因此大量變更主機hostname 的需求就孕育而生~
我的環境：CentOS 6 版
我的 LAB 環境：vm centos6 三台
Ansible 步驟：
1.  完成inventory file 設定檔，且內容具有 hostname vars

[code]

2.  編輯 Ansible playbook file:hostname.yml

[code]
3.  執行 ansible playbook 完成使命。

心得：
1. 透過 vars 變數，可以完成不少工作，我是參考官網Doc [網址](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#)。
2. an

[2018-06-19 07:25] chusiang commented on #31
才想說可以試試看 `hostname` module，但看來在 CentOS 6 上的行為會不太一樣？！不過如果是我的話，會透過 `inventory_hostname` 變數來設定 hostname。

## Inventory

[code]

## Playbook

[code]

### Run

[code]

## Reference

* [Variables — Ansible Documentation](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html)
* [ansible \- What's the difference between inventory\_hostname and ansible\_hostname \- Stack Overflow](htt

[2018-06-19 10:27] #31 closed, assigned to nobody

[2018-07-13 02:41] zx1986 opened #32 "Best Practice 的目錄結構下，如何置放 files 檔案？"
最近在重構公司的 Ansible 目錄結構，參考了官方的 best practice：
https://docs.ansible.com/ansible/2.6/user_guide/playbooks_best_practices.html#content-organization

我本來的目錄主要是 (客戶有很多個)：

[code]

在新架構下， files/ 這個該如何整理？
才能在 with_files 時，讓 Ansible task 可以找到檔案？
我可以直接放在新架構的  inventories/ 的客戶目錄下？

有沒有方法可以列出 Ansible 目前會讀取的目錄路徑？

重構結構：

[code]

[2018-07-31 20:41] ghost opened #33 "SSHPASS installation issue"
I tried all the ways to install the sshpass on my MacBook, no luck only failures. Please kindly help me or directly me where is the issue. Thanks.

If I use brew install, I get this error :

[code]

If I use configure, method, I get this error :

[code]

[2018-08-01 14:24] chusiang commented on #33
Hi @kylix3511 ,

Maybe you can install the `gawk` first,

[code]

and than install the `sshpass`.

[code]

It`s working on macOS 10.13.6.

Good luck.

[2018-11-02 07:23] usego commented on #24
That works, thanks!

[2018-11-12 08:52] changchichung opened #34 "請問怎麼讀取 hostvars 裡面的值？"
我在研究怎麼抓hostvars裡面的某些變數值來應用，可是一直沒成功
playbook內容就只有
[code]
我想要讀取 hostvars 中的 groups 這個值

底下是用 debug: var="{{ hostvars }}" 跑出來的部份內容
[code]
我本來的想法是判斷當這台電腦的hostname 有出現在 groups中 就去作動作
但是一直抓不到 groups 來判斷...

請問我應該要怎麼正確讀取hostvars 裡面的任一個變數的值？

[2018-11-12 18:29] chusiang commented on #34
現在有些晚了，明早開完會，再來仔細觀看這個問題哩。😅

[2018-11-13 01:29] linzeyan commented on #34
應該是 hostvars[inventory_hostname]['groups'] 吧

[2018-11-13 02:07] tsengeagle commented on #34
像這樣嗎？

抓portal這個群組

`ansible apl01 -i inventories/tp-intt -m debug -a "msg={{ hostvars[inventory_hostname].groups.portal }}"`

![default](https://user-images.githubusercontent.com/6193596/48386122-e49e7500-e72b-11e8-8971-49834ce5e485.png)

![default](https://user-images.githubusercontent.com/6193596/48386110-dc463a00-e72b-11e8-88f3-4564f72a5fe8.png)

[2018-11-13 02:22] zarr12steven commented on #34
@changchichung

https://docs.ansible.com/ansible/2.5/user_guide/playbooks_conditionals.html

這裡面應該會有你要的答案。

[2018-11-13 02:48] changchichung commented on #34
是的，我的疑問是
1. 為何用 msg 可以，但是用 var 就會出錯？
2. 我要如何得知要用 "hostvars[inventory_hostname]" .groups.portal 這種格式，為什麼不是用 hostvars.inventory_hostname.groups.portal ？在什麼狀況下要用 [] 包起來？
另外，依照 @linzeyan  的解法也行，可是他的格式就跟 @tsengeagle 的不同？
[code]
然後為什麼 inventory_hostname 不必用 ' ' 包起來？

[2018-11-13 03:17] tsengeagle commented on #34
msg可以，因為那是debug這個模組的參數
var則是ansible的關鍵字，例如下圖，把名稱叫做hello的variable帶給debug這個模組

這邊沒有定義hello
![default](https://user-images.githubusercontent.com/6193596/48388766-85ddf900-e735-11e8-9ce1-c6368c1e2f67.png)
這邊定義了hello的內容
![default](https://user-images.githubusercontent.com/6193596/48388755-7e1e5480-e735-11e8-894a-25e0c4ec5eea.png)

可以比較看看兩者的差異

[2018-11-13 03:27] linzeyan commented on #34
var=hostvars[inventory_hostname]['groups']
msg={{ hostvars[inventory_hostname]['groups'] }}

[2018-11-13 03:30] tsengeagle commented on #34
inventory_hostname也是一個variable
[文件](https://docs.ansible.com/ansible/2.7/user_guide/playbooks_variables.html#accessing-information-about-other-hosts-with-magic-variables)

[2018-11-13 03:31] chusiang commented on #33
I think this issue has be resolved, so I close it.

[2018-11-13 03:31] #33 closed, assigned to chusiang

[2018-11-13 04:19] changchichung commented on #34
var/msg 的部份我了解了

那關於第二個問題，有解答嗎？
[code]

[2018-11-13 05:55] tsengeagle commented on #34
ansible的物件會以json的格式來呈現，對沒碰過的物件，我的學習途徑是這樣的

1. 先把這個物件印出來，以下圖為例，我們就可以知道，hostvars這個物件是兩個元素組成（綠色框的部分），這兩個元素分別是ErsServer及apl01，這兩個元素分別都有屬性（黃色框的內容）
![default](https://user-images.githubusercontent.com/6193596/48393178-7bc5f580-e749-11e8-90ef-c27a642bb61b.png)

2. 接著就是嘗試再取內部的資料出來，舉例，假設我要取ErsServer（第一個元素）的groups，用法就是 `hostvars.ErsServer.groups`，假設要取apl01的ap_environment，我就會用`hostvars.apl01.ap_environment`

[2018-11-13 06:54] zarr12steven commented on #34
其實這二種寫法都可以用，這樣的寫法主要是受到 PYTHON 取值的方式有所不同。
可以參考下列網址

* [列表的使用](https://ithelp.ithome.com.tw/articles/10185694)
* [字典的使用](https://ithelp.ithome.com.tw/articles/10186267)

但依照你提問，**`在什麼狀況下要用 [] 包起來？`** ，這我覺得純碎是看個人習慣，像我之前寫的時候，大都會是用這種寫法

[code]

但後來就慢慢都統一寫成下面這種寫法

[code]

Reference:

* [Accessing complex variable data](https://docs.ansible.com/ansible/2.7/user_guide/playbooks_variables.html)

以上提供你參考，若有

[2018-11-13 08:13] changchichung commented on #34
感謝各位回覆，我會研究看看json 格式和還有語法

[2018-11-13 08:17] tsengeagle commented on #34
@zarr12steven 大大的說法比較精確

[2018-11-15 16:03] chusiang commented on #34
Hi @changchichung,

待問題解決之後，記得關 ticket 喔。😉

[2018-11-16 06:04] #34 closed, assigned to nobody

[2018-11-20 02:33] changchichung opened #35 "在ansible主機執行playbook OK ，但是從遠端執行playbook 會出現Host key verification failed"
我原本有寫好一支playbook ，會去restore 遠端主機的資料庫，測試完成後，我就放給user在自己的機器透過ssh 連到ansible主機執行這支 playbook

user 端執行的指令如下
192.168.11.9 是我的 ansible 主機 , hqs022.abc.com.tw 是目標機器， hqdc034 是 user 的電腦
[code]

執行的狀況如下
[code]
然後因為某一天，這台遠端主機 hqs022 crash 了，所以我重作過，重新安裝作業系統、執行ansible playbook 安裝套件、設定環境，一開始在ansible主機上也有出現host key 的問題，不過只要刪除 .ssh/known_host 底下的某一行就可以了，所以我在ansible主機執行這個playbook 是 OK的
[code]
執行的指令如下
[code]
和上面use

[2018-11-22 02:55] changchichung opened #36 "讀取yml作為變數，取值的問題"
我想幫某個部門的user建立各自的目錄
然後部門的資料已經轉成 yml 檔案
所以我先load yml 檔案進來作為變數來源

[code]

debug var=teams 的內容大概是這樣

[code]

然後我想幫秘書部這些user 建立目錄
我是這樣寫

[code]

可是執行結果會發生錯誤 (底下這不是秘書部的資料，是我隨便抓一個部門的錯誤訊息)

[code]

請問是哪邊出了問題？

[2018-11-23 07:14] #35 closed, assigned to nobody

[2018-11-23 10:24] tsengeagle commented on #36
因為users在你的資料結構裡面是list，而owner和group的屬性應該只能吃字串

參考

[code]

[2018-11-23 10:34] tsengeagle commented on #36
可以把file抽出來變成include_tasks

* main.yml

[code]

* child.yml

[code]

[2018-11-23 12:35] tsengeagle commented on #30
個人覺得，ansible畢竟只是個配置管理工具，並不是物件導向程式語言
設計上還是應該盡量朝向「剛好」的角度去思考，其實設計任何東西應該都是一樣的道理
抽象帶來彈性，相對的也會引入複雜度

如果需要在run time去依據主機的條件決定要執行什麼動作，可以參考[include tasks](https://docs.ansible.com/ansible/2.4/include_tasks_module.html)

* main.yml

[code]

* roles/hello/tasks/main.yml

[code]

* roles/hello/tasks/john.yml

[code]

* roles/hello/tasks/tom.yml
[code]

* 執行結果

預設的參數 `name=john`

[code]

帶不同的參數 `name=tom`

[co

[2018-11-23 16:02] changchichung commented on #36
我後來有成功了
[code]

如同前面先進所說，因為取出來的 users 是一個 list ，沒辦法直接拿來用
所以先把這個list 指定給一個local var (dc_users)
然後再用這個 dc_users 來跑 with_items 就可以了

謝謝各位指點

[2018-11-23 16:02] #36 closed, assigned to nobody

[2018-12-11 04:21] changchichung opened #37 "請問怎麼帶參數進安裝過程時跳出的詢問視窗？"
我不知道怎麼「稱呼」那個視窗

我現在在嘗試用 ansible 安裝 redmine
在安裝過程中，會跳出一個視窗詢問問題
[code]

請問要怎麼用ansible 去回答這個問題？

還有一些類似的，像是要接受EULA，輸入資料庫帳號密碼等等的這類視窗，有現成的module可以用嗎？

[2018-12-11 08:44] chusiang commented on #9
今日才知道，原來我們可以讓 tasks 也 retry。(New in version 1.4.)

[code]

Reference:

* [Do-Until Loops | Ansible Documentation](https://docs.ansible.com/ansible/2.5/user_guide/playbooks_loops.html#do-until-loops)
* [How to retry Ansible task that may fail? | Stack Overflow](https://stackoverflow.com/questions/44134642/how-to-retry-ansible-task-that-may-fail)

[2018-12-17 03:03] chusiang commented on #35
請問您使用的 ansible 版本是哪一版？印象中，Ansible 2.5.2 的 `host_key_checking = False` 設置是有問題的。這個 ssh host key checking 的問題，我在升上 Ansible 2.6.2 之後，是有獲得改善的。

[2018-12-17 03:14] chusiang commented on #37
Hi @changchichung ,

如果是 Debian base 的 Linux (含 Ubuntu)，你可以使用 `debconf` module，在安裝前進行配置。

至於像 nVidia 驅動程式的安裝包，也應該都會有 `-y`、`--yes` 之類的參數可以代入使用。

Happy hacking.

[2018-12-17 05:50] changchichung commented on #37
原來有 debconf module , thanks !

[2018-12-17 05:50] #37 closed, assigned to nobody

[2019-03-12 07:17] changchichung opened #38 "ansible template 的問題"
我在 roles/abc/default/main.yml 內定義了一些變數如下
[code]
然後我想在playbook中，用這些變數來產生文件
[code]
j2 template 長這樣 iptables 那邊的語法不重要，先測試而已
[code]
可是執行的結果會發生錯誤
[code]
可是我的list 裡面，不是已經定義了 name 這個屬性了嗎？為什麼說沒有 name 這個屬性？

[2019-03-12 08:23] tsengeagle commented on #38
或許是變數宣告的方式差異
[code]
![圖片](https://user-images.githubusercontent.com/6193596/54186140-a486ad80-44e5-11e9-8167-4090edec43ab.png)

[2019-03-12 08:49] tsengeagle commented on #38
方括弧包起來是字典物件，取值方式是
![圖片](https://user-images.githubusercontent.com/6193596/54186415-50c89400-44e6-11e9-8cb4-1c8b48abe104.png)
![圖片](https://user-images.githubusercontent.com/6193596/54186424-57efa200-44e6-11e9-87b5-150a82980b93.png)

跟list的差異
![圖片](https://user-images.githubusercontent.com/6193596/54186645-d2202680-44e6-11e9-84c5-36d6c69301c6.png)

[2019-03-12 09:11] changchichung commented on #38
原來如此，看來還是我沒搞懂list/dict 的差異，感謝指教！

[2019-03-12 09:11] #38 closed, assigned to nobody

[2019-04-19 06:46] changchichung opened #39 "get_facts 抓不到 FreeBSD/FreeNAS 的 ansible_devices"
最近想要寫一支playbook 來收集所有管理的實體機器的硬體資訊
系統大部份是 ubuntu , debian 9 , 以及少量 FreeNAS
想收集的資訊 包含 CPU/RAM/HDD 型號、容量

本來想用 dmidecode 的資訊，可是 dmidecode 沒有硬碟資訊
後來想到 ansible的get_facts 很詳細，測試了一下，卻發現freenas 回傳的值有點怪
[code]
如果是ubuntu / debian 就可以傳回正確的值
[code]
想請問各位是不是也有一樣的狀況？
如果這是正常的，那有沒有建議什麼其他方式來處理？謝謝～

我自己的想法還是用 dmidecode 抓 processor/memory 兩個 class
然後HDD的部份，再找其他通用的指令看看有沒有辦法抓到
不過freenas 上面很難裝軟體，有點麻煩...

[2019-04-21 03:57] chusiang commented on #39
敝人對 FreeBSD/FreeNAS 沒有太多的研究，這部份幫不太上忙，但手邊倒是有一台有用 Zabbix 進行監控。

首先，您可以先看看沒有回傳的機器裡有無安裝 Python，要想完整被 Ansible 支援，有沒有預載 Python 是很重要的。

再者，您其實可以自己刻 Shell Script，並針對 FreeBSD/FreeNAS 取得許多硬體資訊，例如 `free -h` 或 `df -h` 等等。都搞定後，再透過 Ansible 把 script 傳到 remote nodes 執行。

最後，可行的監控方法很多，但凍仁會選擇用專業的監控服務來進行就是。

[2019-04-21 08:09] changchichung commented on #39
我倒也沒有要監控什麼，那部分有librenms在處理，只是每個月總務都要來問資產資料，伺服器裡面的硬體配置，像是硬碟型號/序號、記憶體型號/序號，每次都要在那邊一台一台下指令看，覺得很麻煩，有些指令需要用到sudo .也不好因為這麼一個需求，就開放sudo, 所以想說用ansible 收集，每個月定時發結果給總務。
後來也的確是自己刻script 去抓出想要的資訊經過排版後，發信件通知。
只是不能用ansible getfacts 抓出一樣的資料，就只好再依照系統不同，去執行不同的script ，感覺不是很乾淨就是了⋯⋯

[2019-04-22 04:08] chusiang commented on #39
試著用 Vagrant 模擬個 FreeBSD x Ansible 的環境，但看來也是一樣無法取得 `ansible_devices`。

1. Create the Vagrantfile.

[code]

1. Create the playbook.

[code]

1. Run.

[code]

簡單翻了一下 source code，也還沒什麼頭緒。

[code]

我想得先了解原先在 Linux 的實作原理，再到 FreeBSD 上補對應的東西，會比較有機會打通。

Good luck.

[2019-04-22 06:22] tsengeagle commented on #39
從freeNas裡面看，硬碟是在/dev/da*這幾個，不曉得能不能當作線索？

![圖片](https://user-images.githubusercontent.com/6193596/56486389-020d1180-650a-11e9-91f5-298be15cabe5.png)

![圖片](https://user-images.githubusercontent.com/6193596/56486431-2537c100-650a-11e9-9fa7-c51c305e0522.png)

[2019-04-22 15:32] changchichung commented on #39
討厭的是，有的版本是 /dev/da0 有的是 /dev/ada0
Freebsd 有個指令叫 camcontrol 可以很快列出硬碟型號，但是也只有型號，沒有廠牌、序號等等我要的資訊。
只好用其他指令慢慢兜出來...(對，我現在就卡在這，要用不同指令去兜出需要的資訊，然後去做排版.)
另外一個方向是找現成的人家寫好的python ，看是掛進去 plugin 還是直接在remote執行，這部份也還在研究..

[2019-04-22 15:37] changchichung commented on #39
BTW , linux 我後來是用 inxi 這個指令去做，輸出的結果很漂亮
update. 原來 BSD也有一樣的指令，那問題就解決了！ 感謝提供靈感！
[code]

[2019-04-22 15:52] #39 closed, assigned to nobody

[2019-04-23 03:55] changchichung opened #40 "硬碟序號自動被<filter>取代"
這是一個很奇怪的問題
之前有請教要怎麼用ansible 取得CPU/RAM/HD 等資訊
我後來改用 inxi 這個指令來做
playbook 內容很簡單，就是用 shell 去執行 inxi ，然後register 最後再輸出到檔案
[code]

現在的狀況是，這個指令在remote 端執行是沒有問題的
[code]

可是用ansible 跑的時候， serial 欄位會被<filter>取代
[code]
請問這個是 ansible的「資安」考量嗎？有沒有什麼方式可以顯示真正的序號？

[2019-04-23 06:05] changchichung commented on #40
後來發現，這不是ansible的問題，而是 inxi 預設有個參數 會把機敏資料改掉才輸出

[code]
指令加上 -Z 蓋掉就好了..

[2019-04-23 06:05] #40 closed, assigned to nobody

[2019-05-28 06:47] chusiang opened #41 "如何在沒有 inventory files 的情況下跑 playbook？"
在正常情形下，我們若沒有事先定義好 inventory file，Ansible 將會找不到符合的 managed node，並成功執行 playbook。

1. OS: Alpine Linux 3.8

[code]

1. Ansible version: 2.7.5

[code]

1. Playbook.

[code]

1. Run failed.

[code]

[2019-05-28 07:02] chusiang commented on #41
感謝 Wesley Lai 在 Telegram 上的回饋，我們可以在執行指令時，用 `-i "<MANAGED_NODE_IP>,"` ，在沒有設置 inventory file 的前提下來代入 Managed node 的 IP address。

[code]

實驗成功！

[2019-06-28 10:01] tomas223 commented on #24
This didn't work for me. What helped was adding
[code]
to ci job.

[2019-07-01 03:07] chusiang commented on #24
Hi @tomas223 ,

Please add the `force_color = 1` line into the `ansible.cfg`, not playbook.

[2019-07-01 06:51] tsengeagle commented on #24
這邊設定
![圖片](https://user-images.githubusercontent.com/6193596/60415983-4f46e700-9c0f-11e9-91d3-53d8bf2f6dca.png)

ci console
![圖片](https://user-images.githubusercontent.com/6193596/60416045-76051d80-9c0f-11e9-8953-23fd0cf47fdc.png)

[2019-07-15 06:40] chusiang opened #42 "Ansible Taipei Meetup 2nd 議題蒐集"
身為 Ansible Taipei Meetup 的主辦人，我想藉由這個 GitHub Issues 來統計大家「最」感興趣的主題，這樣我們才可透過實體 (線下) 聚會討論最有價值的題目。

[2019-07-16 09:09] zarr12steven commented on #42
想聽凍仁大大 **`『GitLab CI --> Ansible --> Bastion --> Managed nodes. 成功！』`** 這個主題 XDDD

[2019-07-16 10:21] zarr12steven opened #43 "用了 stat module & template module & when condition 去判斷是否要更新檔案內容"
### OS Environment

[code]

### Ansible Version

[code]
### 使用情境說明

請問一下，用了 **stat** 去確認檔案存不存在，如果不存在，就建立，如果存在，就略過
但我現在有一個需求是…如果檔案存在，要怎麼更新檔案裡的內容？

### STEPS TO REPRODUCE

- task.yml

[code]

- motd.j2

[code]

- 執行

[code]

多執行個幾次也不會有問題了

感謝 Ricky Lin  & Eric Chang 的幫忙

[2019-07-16 10:26] #43 closed, assigned to zarr12steven

[2019-07-16 10:31] zarr12steven commented on #43
補充一下:

在這個情境底下，只能用 **`or`** ，不能用 `and`

我實測了當條件如下時

[code]

使用

[code]

結果會是被 skip

[2019-07-19 01:49] chusiang commented on #43
Thanks @zarr12steven for share this post. <[_ _]>

[2019-07-21 14:16] chusiang commented on #7
原來 Ansible 這個單字，是從「answerable」這個單字演變而來的！

Orson Scott Card 作者在《Ender's Game (安德的遊戲) 》系列作品中，也沿用 Ansible 這個單字作為比光速還要快的通訊裝置 ([Faster-than-light communicatio](https://en.wikipedia.org/wiki/Category:Faster-than-light_communication))。

如果要用一句話來說明何為 Ansible？那麼凍仁會說它是一個**虛構的超光速即時通訊裝置**。

----

Reference:

* https://www.facebook.com/chusiang.lai/posts/10211486882487008

[2019-07-22 08:18] changchichung opened #44 "用 ip 位置判斷是否要執行task"
我有一個playbook ，其中有兩個 task是這樣
當user ip (ansible_default_ipv4.address) 在清單內 ( {{ iuser_list }} )時
會去加入一些文字到 /etc/environment
反之，則取消這一段文字

[code]
我想請問 第一個task 已經成立 user 的電腦ip 有在 iuser_list 清單中了，可是為什麼第二個task 它還是會執行？

執行時的log
[code]

[2019-07-22 09:13] changchichung commented on #44
有改出一版可以正確執行的
先把原先清單中的 ipv4 單獨做出一個list 然後去判斷client 的ip 是否在這個iplist 中
[code]

不過我還是弄不懂，為什麼原來的寫法不行？這兩個task的寫法是互斥的呀，怎麼會兩個task都執行？

[2019-07-22 17:37] changchichung commented on #44
自我反省一下觀念
在原來的list 中，資料長這個樣子
[code]
在第一個task中，因為是用 in list 去做比對，所以很正常的一直比對到有符合的資料，然後開始進行task
但是在第二個task中，用的是not in ，於是第一筆資料就符合條件，於是也開始執行task

我的解法就是後來貼的，單獨把ip 做成一個list ，然後比對ip 就好，這樣子就不會出現上面說的情況了
也歡迎其他先進提供不同思維的解決方法..

[2019-07-23 09:13] tsengeagle commented on #42
許願：`ansible with windows`

[2019-07-23 10:54] chusiang commented on #42
Hi @tsengeagle,

我這有份兩年前的 Ansible 管 Windows 的簡報，可以先看看。😎

[2019-07-29 01:30] changchichung opened #45 "將ansible 執行結果寄回指定信箱並保有ansi 色彩"
我在ansible主機上，依照需求，設定了多組不同目的cron job ，讓ansible可以定時去執行指定的工作
現在因為需要交接部份機器給別人，但是對方表示不會ansible，但是需要看到每次定時排程工作執行的狀況
我是表示應該是讓對方學會維護ansible，我再把playbook打包出去給對方，這樣比較好吧？不過主管交待先把執行的紀錄傳給對方看，其他的再慢漫談....

anyway ，我原本執行的語法如下
[code]
最簡單的方式就是直接給 /tmp/tyuserclients.log ，但是通常事情都沒有那麼簡單..
對方表示log太長了，又沒有顏色區分，無法分辨執行狀況( ooxx 咧.. )

因為在console 下，要送出帶有色彩的信件頗麻煩的，上網找了一下，嘿，其實已經有人寫好了..
https://pypi.org/project/ansi2html/
所以就先
[

[2019-07-29 08:58] chusiang commented on #45
感覺樓主可以去玩玩 Ansible 的 Python API，直接從 API 調用各種回訊值。但現階段而言，應該還是另外寫個 Shell script 或 Python script 會簡單上許多吧。

[2019-08-02 01:25] zarr12steven commented on #45
請問樓主有考慮使用 **`scriptreplay `** 嗎？用這個可能也許會快一點！

以上意見純屬參考。

[2019-08-02 15:18] changchichung commented on #45
我不知道scriptreplay 這個指令，禮拜一上班後測試看看，謝謝🙏

[2019-09-05 11:01] brlin-tw opened #46 "切換 Debian 軟體來源鏡像站的模組？"
請問有模組可以切換 Debian/Ubuntu 使用的官方軟體庫鏡像站嗎？

我目前是用：

[code]

[2019-09-06 05:08] brlin-tw commented on #46
@chusiang 有寫一個 role 來處理：[Ansible Galaxy](https://galaxy.ansible.com/chusiang/switch-apt-mirror)

[2019-09-06 05:11] brlin-tw opened #47 "用來參照當前進行工作 task 名稱的變數？"
請問有沒有變數是保存當前運行的 task 的名稱的，用於下列情境：

[code]

[2019-09-06 06:27] chusiang commented on #46
我好久以前是把這段拆成一個 role，好讓其它的 playbook 也可重複使用。

* GitHub: https://github.com/chusiang/switch-apt-mirror.ansible.role
* Ansible Galaxy: https://galaxy.ansible.com/chusiang/switch-apt-mirror

[2019-09-06 07:14] #46 closed, assigned to nobody

[2019-10-22 06:55] brlin-tw opened #48 "如何於 Ansible 操作一 Dict 的內容？"
## 情境說明
情境：我在變數中設定了一個使用者帳號列表與密碼的字典：

[code]

我想要在一個迴圈中將沒有 password 值的使用者帳號建立一個隨機密碼並插入到該字典中應有的位置，之後再用 user 模組設定新的使用者帳號：

[code]

但這個寫法會報以下錯誤（敏感訊息已替換佔位字）：

[code]

求解？

[2019-10-23 01:39] tsengeagle commented on #48
看不出來錯在哪一個task，錯誤訊息裡面像是單雙引號位置的問題

下面這是我的寫法，在centos7上面：

[code]

[2019-10-23 01:45] tsengeagle commented on #48
然後，這是您想要的效果嗎？
把原本normal_user的password換成 `abcde`

[code]

執行：
[code]

[2019-10-23 02:16] brlin-tw commented on #48
我希望 password 欄位可以在 vars 不設定，而在設定密碼前自動設定，所以大概是這樣：

[code]

[2020-02-15 01:44] changchichung opened #49 "動態載入多個 yaml file 作為 vars"
我有一個目錄底下放了許多的 yaml files
然後我需要這些 yaml files 裡面的某個屬性的值，來協助判斷要不要執行某些 tasks
一開始的想法有兩個
1. 動態載入所有 yaml file ，賦予名稱，然後跑loop 取值
2. 把所有 yaml file 組成一個大的 yaml file ，然後取值
第二個作法暫時還沒有想法，雖然用python 好像很好做..

動態載入yaml files 沒有問題，但是在取值的時候卻不知道該怎麼做
後來在 ansible google groups 和stackoverflow 找到了解答
就順手分享一下

首先，用shell module 取得所有的yaml file 檔案名稱
[code]
然後透過include_vars 把每個 yaml file 都載入，並且依照檔名賦予名稱
[code]
假設在該路徑底下有 aa.yaml

[2020-02-25 08:04] chusiang commented on #49
先給讚 :+1: ，晚點忙完再來詳讀了！ <[_ _]>

[2020-03-19 08:32] chemi0213 opened #50 "Get a variable value from another variable"
The example playbook is below:
[code]
Goal:
When user specify checkpolicy_1 via --extra-var. the value of the variable "policy" will be "Policy_B". If not specify, will be "Policy_A"

However the number of checkpolicy might be a lot and vary, I want to write something like below, and achieve the same result:
[code]
Is it possible to do that?

[2020-04-30 03:41] chusiang commented on #21
I can't `make install` the sshpass v1.06 on macOS v10.15.4, so I copy the binary from macOS v10.11.6. It's working now.

md5sum.

[code]

sha256 checksum:

[code]

[2020-05-12 15:15] changchichung opened #51 "請問如何更新 var file 裡面的某個值？"
var file 大概長這樣

[code]
我想在playbook 中，先include 這個var file
然後檢查 pub/pri 的值，如果pub/pri 沒有定義，依照location不同，塞不同的字串給它
我一開始先用lineinfile ，可是我不知道怎麼指定取代pub沒有定義的位置
用regexp 的話，有可能會有兩行符合條件，例如上面的aaa.pub , ccc.pub
在regexp 裡面都是一樣的，都會被取代
那有沒有辦法可以指定取代 aaa.pub 這個欄位呢？

[2020-05-15 10:03] chusiang commented on #51
我看了 3 遍，還是不太了解想解決什麼問題，以及上面在做什麼？

還請補上更詳細的說明。

[2020-05-15 10:54] changchichung commented on #51
就是，我有一個 yaml 檔案，我要怎麼在ansible 中引用這個檔案，當這裡面的某個欄位值是空的，就依照規則去更新這個空值

[2020-06-28 06:59] #30 closed, assigned to nobody

[2020-08-12 14:16] brlin-tw opened #52 "block 內的特定 task 不明原因被跳過，為什麼？"
## 問題重現 playbook

[code]

## 測試方式
[code]

## 預期結果
「查詢 IPwatchD 當前最新釋出版本：顯示查詢結果」task 有被執行

## 目前結果
「查詢 IPwatchD 當前最新釋出版本：顯示查詢結果」顯示為 skipped

## 環境
* Ansible 2.9.9
* Ubuntu 20.04
* Python 3.8.2

[2020-08-12 16:59] tsengeagle commented on #52
或許是變數名稱重複

[code]

結果：

[code]

[2020-08-13 02:13] linzeyan commented on #52
when 的關係。
set_fact 之後，就不在 when 的條件之下了。

[2020-10-19 15:44] brlin-tw commented on #52
抱歉未能即時回應
所以 block 下的每個步驟都會檢查 when 的條件嗎？有官方文件的相關描述嗎？

[2020-10-19 15:56] brlin-tw opened #53 "如何篩選「特定 Json 的物件陣列中，指定屬性值包含指定子字串的物件」"
[code]

我要篩選出 trojan_go_latest_release_info_raw.json[0].assets 陣列中包含 name 屬性值包含「linux-amd64」子字串的物件，如何在 Ansible 中辦到呢？

目前找到 `selectattrs`、`json_query` 過濾器都湊不出來想要的結果，請大家幫忙

[2020-10-20 06:01] linzeyan commented on #53
trojan_go_latest_release_info_raw.json[0] | json_query('assets[*]') | selectattr('name', 'search', 'linux-amd64') | map(attribute='name')

[2021-01-31 14:01] shirishshukla commented on #21
brew install --build-from-source sshpass

[2021-03-23 02:45] changchichung opened #54 "檢查目錄是否存在，並進行後續動作？"
檢查 developer 的 HOME directory 是否已經存在 .pyenv 目錄
並註冊到 py_exist

[code]
DEBUG
[code]

上面的debug 可以看到變數 py_exist.results 裡面包含了 stat
所以我想用 py_exist.results.stat.exists 來判斷是否要執行task
[code]
但是會報錯，說沒有 stat 這個屬性？
[code]

請問該怎麼做才能正確取得 stat ？

[2021-03-23 03:26] changchichung commented on #54
自問自答

因為 pyenv.results 裡面有兩組 item
然後因為其中一組 item 並沒有 stat 這個屬性，所以會報錯
要修正的話，就先檢查 item.stat 是否存在，應該就可以了

[code]

[2021-03-31 09:37] #54 closed, assigned to nobody

[2021-05-26 06:18] maple52046 commented on #50
`vars` is a Python dictionary, so you can use `setdefault` method to get data from vars with a default value.

E.g.:

[code]

However, `setdefault` didn't update `vars` in Ansible. So, I use `set_fact` to store the data into a new variable.

[2021-07-19 04:13] changchichung opened #55 "關於回傳的list 被 [u ] 包住的問題"
請問一個問題
我有一個yaml 檔案，大概像這樣

[code]
我想要取出 location
但是每次回傳回來的都是一個被 [ ] 包起來的 list

task 長這樣

[code]

產生的檔案內容如下

[code]

我的疑問是為什麼傳回來的location 前後會被 [u''] 給包起來？
有沒有什麼filter 可以把這個[u''] 給拿掉？
我現在是用偷吃步，用 item[0].location[0] 去取值
那是因為我確定location 都是單一值，可是萬一將來出現多個值
或者是我想要改成取出 item[0].users 的時候就會碰到麻煩

不曉得有沒有什麼建議的方式？

[2021-07-20 07:30] changchichung opened #56 "template 從dict 中取值"
我有兩個 dict 內容長這樣
teams.yml

{
  "teams": [{"gid": 10125,"location": ["hq"],"name": "aa","users": ["chenhu","chouf"]},
            {"gid": 10126,"location": ["hq"],"name": "ac","users": ["guoj","yangc"]}]

}

users.yml
{
    "users": [{"name": "changc","uid": 20000},{"name": "changb","uid": 20001}]
}

我想要取出 teams 裡面的users
所以我簡單的先用個for loop 來跑跑看

[code]

然後就會報錯
[code]
可是 users 不就在那邊嗎？為什麼抓不到啊？
不只是 use

[2021-07-21 08:38] elleryq commented on #55
你可以使用 first

[code]

或者是用 join(',')
[code]

[2021-07-22 01:17] changchichung commented on #55
謝謝，後來用 join 解決了

[2021-07-22 01:17] #55 closed, assigned to nobody

[2021-07-22 12:55] elleryq commented on #56
我測試 ok ，以下是我的 playbook

https://gist.github.com/elleryq/b0b62498b3f57a9badbba26830f67344

[2021-07-22 13:32] elleryq commented on #52
只要有 set_fact 或者是重新指定變數都會導致後面的 task 不執行
如果直接引用，就可以

[code]